/* ==========================================================================
   NOTICE TEXT BLOCKS
   ========================================================================== */

/**
 *  Default Kramdown usage (no indents!):
 *  <div class="notice" markdown="1">
 *  #### Headline for the Notice
 *  Text for the notice
 *  </div>
 */

@mixin notice($notice-color) {
  margin: 2em 0 !important;  /* override*/
  padding: 1em;
  font-family: $global-font-family;
  font-size: $type-size-6 !important;
  text-indent: initial; /* override*/
  background-color: color-mix(in srgb, var(--global-bg-color), $notice-color 20%);
  border-radius: $border-radius;
  border: 1px solid color-mix(in srgb, var(--global-text-color) 1%, $notice-color 10%);
  color: var(--global-text-color);

  h4 {
    margin-top: 0 !important; /* override*/
    margin-bottom: 0.75em;
  }

  @at-root .page__content #{&} h4 {
    /* using at-root to override .page-content h4 font size*/
    margin-bottom: 0;
    font-size: 1em;
  }

  p {
    &:last-child {
      margin-bottom: 0 !important; /* override*/
    }
  }

  h4 + p {
    /* remove space above paragraphs that appear directly after notice headline*/
    margin-top: 0;
    padding-top: 0;
  }

  a {
    color: $notice-color;

    &:hover {
      color: mix(#000, $notice-color, 40%);
    }
  }

  code {
    background-color: mix(#fff, $notice-color, 95%)
  }

  ul {
    &:last-child {
      margin-bottom: 0; /* override*/
    }
  }
}

/* Default notice */

.notice {
  @include notice($notice-color);
}

/* Primary notice */

.notice--primary {
  @include notice($notice-color);
}

/* Info notice */

.notice--info {
  @include notice($info-color);
}

/* Warning notice */

.notice--warning {
  @include notice($warning-color);
}

/* Success notice */

.notice--success {
  @include notice($success-color);
}

/* Danger notice */

.notice--danger {
  @include notice($danger-color);
}

.notice--reflexion {
  @include notice($reflexion-color);
}


/* Icon for notices */
/* Uses Font Awesome 6 Free, so make sure to include it in your project */

@mixin notice-icon($content, $color) {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: $content;
  margin-right: 0.5em;
  color: $color;
  display: inline-block;
}

.notice::before,
.notice--primary::before {
  @include notice-icon("\f249", $notice-color);
}

.notice--info::before {
  @include notice-icon("\f05a", $info-color);
}

.notice--warning::before {
  @include notice-icon("\f071", $warning-color);
}

.notice--success::before {
  @include notice-icon("\f058", $success-color);
}

.notice--danger::before {
  @include notice-icon("\f057", $danger-color);
}

.notice--reflexion::before {
  @include notice-icon("\f06d", $reflexion-color);
}
